<%- include("./Back/News.txt") %>

  <!-- 內頁 -->
  <div class="content-wrapper">
    <section class="content">
      <h3 class="title">最新消息管理</h3>
      <div class="row">
        <!-- 查詢條件 -->
        <div class="col-xs-12">
          <form action="/BackNewsManage/NewsManageList" method="POST" id="searchForm">
          <div class="search">
            <!-- 標題 -->
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="form-group">
                <label>標題：</label>
                <input type="text" name="NewsTitle" class="form-control" id="">
              </div>
            </div>

            <!-- 換行 -->
            <div class="clearfix"></div>

            <!-- 發佈日期 -->
            <div class="col-xs-12 col-sm-6 col-md-3">
              <label>發佈日期：</label>
            </div>
            <div class="clearfix"></div>
            <!-- 發佈日期Str -->
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="form-group">
                <input name="ShowStartDate" type="date" class="form-control inputNotOutline">
              </div>
            </div>
            <!-- 發佈日期~ -->
            <label class="s-Elab">～</label>
            <!-- 發佈日期End -->
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="form-group">
                <input name="ShowEndDate" type="date" class="form-control inputNotOutline">
              </div>
            </div>

            <!-- 換行 -->
            <div class="clearfix"></div>

            <!-- 狀態： -->
            <!-- <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                  <label>狀態：</label>
                  <div class="clearfix"></div>
                  <input type="radio" name="NewsState" id="NewsState_1">
                  <label for="NewsState_1" class="MyListLabel ">顯示</label>
                  <input type="radio" name="NewsState" id="NewsState_0">
                  <label for="NewsState_0" class="MyListLabel">隱藏</label>
                </div>
              </div> -->


            <!-- 查詢/清除 -->
            <div class="col-xs-12 text-right">
              <button type="submit" class="btn btn-primary">查詢</button>
              <button type="reset" class="btn btn-primary onclick="ResetBtn()"">清除</button>
            </div>
            <div class="clearfix"></div>
            </form>
          </div>
        </div>

        <!-- 新增 -->
        <div class="col-xs-12 addBtn">
          <a href="/BackNewsManage/NewsManageAdd?pageNo=<%= pageNo %>" title="新增">
            <input type="button" class="btn btn-success" value="新增">
          </a>
        </div>

        <div class="clearfix"></div>
        <!-- 查詢結果 -->
        <div class="col-xs-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr class="serchlist">
                  <th width="10%">編號</th>
                  <th width="20%">標題</th>
                  <th width="10%">發佈日期</th>
                  <th width="10%">修改日期</th>
                  <th width="10%">管理</th>
                </tr>
              </thead>
              <tbody>
                <%var sn=1; //宣告sn=編號 %>
                  <% for(var i=0; i<data.length; i++) { %>
                    <tr>
                      <!-- 編號 -->
                      <td scope="row">
                        <%=sn %>
                      </td>
                      <!-- 標題 -->
                      <td>
                        <%= data[i].NewsTitle %>
                          </a>
                      </td>
                      <!-- 發佈日期 -->
                      <td>
                        <%= (data[i].ShowStartDate).toLocaleDateString() %>
                          ~

                          <%= (data[i].ShowEndDate).toLocaleDateString() %>
                      </td>
                      <!-- 修改日期 -->
                      <td>
                        <%= (data[i].ModifyDate).toLocaleDateString() %>
                      </td>
                      <!-- 狀態 -->
                      <!-- <td style="width: 10%;">
                          <% var statusStr='' ; %>
                            <% var status=data[i].NewsState; //宣告status=1或0 %>
                              <% (status==1) ? statusStr='顯示' : statusStr='隱藏' ; //判斷status=1，則statusStr為顯示，反之為隱藏 ; %>
                                <%= statusStr %>
                        </td> -->
                      <!-- 功能 -->
                      <td>
                        <a href="/BackNewsManage/NewsManageEdit?id=<%= data[i].NewsId %>&pageNo=<%= pageNo %>">
                          <input type="button" class="btn btn-primary" value="編輯">
                        </a>
                        <a href="/BackNewsManage/NewsManageDel?id=<%= data[i].NewsId %>&pageNo=<%= pageNo %>"
                          title="刪除">
                          <input type="button" class="btn btn-danger" value="刪除">
                        </a>
                    </tr>

                    <% sn++; %>
                      <% } %>
              </tbody>
            </table>
          </div>

          <!-- 頁碼 -->
          <nav aria-label="Page navigation" class="text-right">
            <ul class="pagination">

              <!-- 上一頁 -->
              <li class="">
                <% if(pageNo > 1) { %>
                <a class="" href="/BackNewsManage/NewsManageList?pageNo=<%= (pageNo-1) %>" title="上一頁"" aria-label="
                  Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
                <% } %>
              </li>

              <!-- 頁碼 -->
              <% for(var i=1; i <=totalPage; i++) { %>
                <li class="page-item"><a class="page-link" href="/BackNewsManage/NewsManageList?pageNo=<%= i%>">
                    <%= i%>
                  </a>
                </li>
                <% } %>

                  <!-- 下一頁 -->
                  <li class="">
                    <% if(pageNo < totalPage) { %>
                    <a class="" href="/BackNewsManage/NewsManageList?pageNo=<%= (pageNo+1) %>" title="下一頁"
                      aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                    <% } %>
                  </li>
            </ul>
          </nav>



        </div>

      </div>
    </section>
  </div>


  <%- include("./Back/Foot.txt") %>